/* Estilo general */
ion-toolbar {
  --background: #274472;
  --color: #fff;
}

ion-content {
  --background: #C5D5E4;
}

/*Tarjeta principal (Centro de Soporte) */
ion-card {
  --background: #f8fbfd !important; /* Fondo claro */
  background: #f8fbfd !important;
  color: #000 !important;
  border-radius: 14px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
}

ion-card-header {
  background: transparent !important;
}

ion-card-title {
  color: #274472 !important;
  font-weight: 600;
}

ion-card-content {
  background: transparent !important;
  color: #000 !important;
}

/*Campo de mensaje */
ion-item {
  --background: #ffffff !important;
  border-radius: 10px;
  margin: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
}

ion-label {
  font-weight: 600;
  color: #000 !important;
}

ion-input {
  --color: #000000;
  color: #000000 !important;
  font-size: 15px;
}

ion-textarea {
  color: #000 !important;
  font-size: 15px;
  background: transparent;
}

/*Botón Enviar */
ion-button {
  --border-radius: 10px;
  font-weight: 600;
  margin: 12px;
}


.text-error {
    color: var(--ion-color-danger);
    font-size: 0.8rem;
    padding-top: 4px;
    padding-bottom: 8px;
  }
