<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Soporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Centro de Soporte</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Si tienes dudas, problemas técnicos o sugerencias, escríbenos y te
        responderemos a la brevedad.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label position="stacked">Mensaje</ion-label>
    <ion-textarea
      [(ngModel)]="mensaje"
      placeholder="Describe tu consulta o problema"
    ></ion-textarea>
  </ion-item>

  <div class="ion-padding">
    <ion-button expand="block" color="primary" (click)="enviarSoporte()">
      Enviar
    </ion-button>
  </div>
</ion-content>

