<ion-header>
  <ion-toolbar>
    <ion-title>Mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item
      *ngFor="let m of items; trackBy: trackByConv"
      button
      (click)="open(m)">
      <ion-label>
        <h2>{{ m.otherName }}</h2>
        <p>{{ m.lastBody }}</p>
      </ion-label>
      <ion-note slot="end" *ngIf="m.lastAt as t">{{ t | date:'short' }}</ion-note>
    </ion-item>

    <ion-item *ngIf="!items.length && !loading" class="empty-state">
      <ion-label>No tienes conversaciones</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
